

<%= form_for(@client, html: { multipart: true }) do |f| %>
  <% if @client.errors.any? %>
   

      <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h4>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-sm-12">

   <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :tel %><br>
    <%= f.text_field :tel, class: "form-control" %>
  </div>



 <div class="form-group">
    <%= f.label :Arrival  %><br>
    <%= f.date_select :start, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Departure  %><br>
    <%= f.date_select :end, class: "form-control" %>
  </div>
  </div>
   
   <div class="col-lg-6 col-sm-12">
  <div class="form-group">
    <%= f.label :Children_Below_5 %><br>
    <%= f.number_field :rooms, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Adults %><br>
    <%= f.number_field :adults, class: "form-control" %>
  </div>
   

   <div class="control-group">
    <%= f.label :Rooms, class: 'control-label' %><br>
    <%= f.collection_select( :client, :employee_id, Employee.all, :id, :name, {}, { :multiple => false } )  %>
  </div>


  <div class="form-group">
    <%= f.label :Other_Additional_Facilities_If_Required %><br>
    <%= f.text_area :message, class: "form-control" %>
  </div>
   <div class="form-group">
     <%= f.submit :value => "Submit", class: "btn btn-primary" %>
  </div>
  
  </div></div></div>
<% end %>
